.page-home {

  .page-home__cover {
    background-image: url('../../assets/img/banner-1.png');
    background-repeat: no-repeat;
    background-size: 45rem;
    background-position-x: 115%;
    background-position-y: -12.5rem;
  }
}