.page-home {

  .page-home__cover {
    background-image: url('../../assets/img/banner-1.png');
    background-repeat: no-repeat;
    background-size: 45rem;
    background-position-x: 115%;
    background-position-y: -12.5rem;
  }

  .page-home__details {
    background-image: url('../../assets/img/health-family-1.png');
    background-repeat: no-repeat;
    background-size: 45rem;
  }

  .page-choice {
    background-color: #eff2f5;
  }

  .page-claim {
    background-color: white;
  }

  .page-quote {
    background-image: url('../../assets/img/composed-layer-2.png');
    background-repeat: no-repeat;
    background-size: 75rem;
    background-position-x: 35vh;
  }
  .page-price {
    background-image: url('../../assets/img/composed-layer-3.png');
    background-repeat: no-repeat;
  }
}